<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
    <div class="container">
        <!-- Loop through the messages and display error messages -->
            {{#each messages}}
                <div class="alert alert-danger">
                    {{this}}
                </div>
            {{/each}}
        <form action="/signup" method="POST">
            <div class="form-group">
                <input type="text" placeholder="Username" name="username" >
                <input type="password" placeholder="Password" name="password" >

                <label for="food-intolerances">Food intolerances</label>
               <div class="food-intolerances">
                <label><input type="checkbox" name="food_intolerances[]" value="None"> None</label>
                <label><input type="checkbox" name="food_intolerances[]" value="Dairy"> Dairy</label>
                <label><input type="checkbox" name="food_intolerances[]" value="Egg"> Egg</label>
                <label><input type="checkbox" name="food_intolerances[]" value="Gluten"> Gluten</label>
                <label><input type="checkbox" name="food_intolerances[]" value="Grain"> Grain</label>
                <label><input type="checkbox" name="food_intolerances[]" value="Peanut"> Peanut</label>
                <label><input type="checkbox" name="food_intolerances[]" value="Seafood"> Seafood</label>
                <label><input type="checkbox" name="food_intolerances[]" value="Sesame"> Sesame</label>
                <label><input type="checkbox" name="food_intolerances[]" value="Shellfish"> Shellfish</label>
                <label><input type="checkbox" name="food_intolerances[]" value="Soy"> Soy</label>
                <label><input type="checkbox" name="food_intolerances[]" value="Sulfite"> Sulfite</label>
                <label><input type="checkbox" name="food_intolerances[]" value="Tree Nut"> Tree Nut</label>
                <label><input type="checkbox" name="food_intolerances[]" value="Wheat"> Wheat</label>
               </div>

                <label for="health-goals">Health goal</label>
                <div class="health-goals">
                    <label><input type="radio" name="health_goals" value="None"> None</label>
                    <label><input type="radio" name="health_goals" value="lose weight"> Lose weight</label>
                    <label><input type="radio" name="health_goals" value="gain weight"> Gain weight</label>
                    <label><input type="radio" name="health_goals" value="maintain weight"> Maintain weight</label>
                    <label><input type="radio" name="health_goals" value="lose weight"> Building muscles</label>
                    <label><input type="radio" name="health_goals" value="gain weight"> Improve blood work</label>
                    <label><input type="radio" name="health_goals" value="gain weight"> Gaining energy</label>
                </div>
            </div>
            <button type="submit" class="sub">Submit</button>
        </form>
    </div>
</body>
</html>
