body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-image: url('/images/pic.jpg'); 
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#generateMealsBtn {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#generateMealsBtn:hover {
    background-color: #e68a00;
}

#userProfile {
    display: flex;
    align-items: center;
}

#profilePicture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

#profilePicture:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#logoutLink {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    z-index: 1;
}

#logoutLink:hover {
    background-color: #f0f0f0;
}

#profilePicture.showLogout + #logoutLink {
    display: block;
}

#mealsContainer {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

#mealsContainer div {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}

#mealsContainer h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

#mealsContainer img {
    border-radius: 8px;
    margin-bottom: 15px;
}

#mealsContainer p {
    margin: 5px 0;
    font-size: 0.9em;
}

#mealsContainer p strong {
    color: #4CAF50;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    #mealsContainer {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1200px) {
    #mealsContainer {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
