body {
   
    background-size: cover;
    background-position: center;
    color: #333;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    color: black;
    padding: 10px; 
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); 
    box-sizing: border-box; 
}

.navbar h1 {
    margin: 0;
    padding: 0;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 0 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

#uploadForm {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px; 
}

#uploadForm input[type="file"] {
    margin-bottom: 0;
}

#uploadForm button {
    background-color:  rgba(203, 199, 199, 0.548);
    color:black;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 5px;
}

#uploadForm button:hover {
    background-color: #45a049;
}

#result, #inventory {
    width: 80%;
    max-width: 800px;
    margin: 20px 0;
}

#result, #inventory {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 15px;
    border-radius: 10px;
}

.scroll-container {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.inventory-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
}

.delete-btn:hover {
    color: darkred;
}

.flash-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 10px;
}

