<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="/home.css" rel="stylesheet">
</head>

<body>
    <div class="col-lg-6 text-center text-lg-start">
        <h1 class="texti">Enjoy Our<br>Delicious Meal</h1>
        <p class="text-white animated slideInLeft mb-4 pb-2">Transform your life with the incredible power of a health-focused diet! Imagine feeling energized and unstoppable as you fuel your body with vibrant, nutrient-packed foods that boost your mood and performance. Every meal becomes an opportunity to enhance your well-being, with delicious choices that support your goals and fuel your passions. Embrace this exciting journey towards optimal health and watch as your vitality soars, unlocking a new level of vitality and confidence. The future is yours to conquer—make it spectacular with the benefits of a healthier, more invigorating diet!</p>
    </div>

    <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-primary me-2"></i>SilkAI</h1>

    <img src="/images/pic.jpg"class="img-style">

    <footer>
        &copy; <a class="border-bottom" href="#">SilkAI</a>, All Right Reserved.
    </footer>
</body>
</html>
